* {
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: column;
  
}

body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  color: white;
  background-color: rgb(6, 97, 97);
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  margin: 1rem;
  position: relative;
  border-radius: 3px;
  background-color: rgba(97, 6, 70, 0.37);
  width: 250px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
  overflow: hidden;
  /* height: 100%; */
}

.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

header {
  background-color: rgba(97, 6, 70, 0.37);
  padding: 1rem;
  justify-content: flex-end;
  display: flex;
}

.search {
  color: #fff;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid rgba(26, 6, 97, 0.534);
  font-size: 1.2rem;
  padding: 0.5rem 1.2rem;

}

.movie-over {
  position: absolute;
  bottom: 0;
  color:rgba(75, 5, 54, 0.836);
  left: 0;
  right: 0;
  padding: 1rem;
  overflow: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
  max-height: 100%;
  background-color: #fff;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
  transform: translateY(0%);
}